---
from: registration@worldcon.fi
fromname: Worldcon 75 Registration
subject: Worldcon 75 Access Key
---
To access your Worldcon 75 member data and other services for the address "{{&email}}", please open the following URL:

{{&uri}}

Visiting that URL will automatically log you in, with no need for passwords or other credentials. Please don't share the link or forward this email, as that'll allow any recipients to also access your account.

You've received this message because someone (hopefully you) requested it at worldcon.fi. If you believe you've received this message in error, you may either safely ignore it entirely, or get in touch with us by replying to this address.


Worldcon 75
info@worldcon.org
http://worldcon.fi/
